.leader-banner {
    background-image: url(/images/leadershipImages/leader.webp);
    min-height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;position: relative;
    z-index: 1;
}
.leader-banner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #001e367d;
    z-index: -1;
    opacity: .51;
}
.leader-banner span::before {
    /* position: relative !important; */
    background-image: linear-gradient(45deg, #d9e6e8, #ffffff30) !important;
}
/* leader-ship-css 2nd section */
.dot-image {
    width: auto;
    display: inline-block;
    position: absolute;
    bottom: 2%;
    left: -47px;
}
section.leadership-title .row.align-items-center:nth-child(odd) .dot-image {
    left: unset;
    right: -75px;
}
section.leadership-title .row.align-items-center:nth-child(odd) .leadership-right {
    padding-left: 20px;
    padding-right: 70px;
}
.leadership-right {
    padding-left: 70px;
    padding-right: 20px;
    margin-top: 30px;
}
.dot-image img {
    max-width: 57px;
    height: 201px;
    object-fit: cover;
}

.leadership-left.leader-img {
    position: relative;
    z-index: 1;
}

.leader-main-img {
    background-image: url(/images/leadershipImages/team-bg-pattern.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    text-align: center;
}
.leader-main-img img {
    padding: 20px 30px;
    padding-bottom: 0;
    max-width: 390px;
}

.leadership-details span.list-text {
    font-size: 14px;
    margin: 0 !important;

}
.leadership-title h3 {
    font-size: 21px;
    display: inline;
    font-weight: 800;
}


.leadership-details a {
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.leadership-right  p {
    font-size: 16px !important;
}
.leader-ship-title.text-center {
    padding: 15px 0;
}
.leadership-details svg {
    width: 1.5rem;
    height: 1.2rem;
}
.leadership-details svg path {
    fill: #20a0b1;
}
.leader-ship-title h4 {
    font-weight: 600;
    font-size: 20px;
}

.leader-ship-title span.title {
    font-size: 16px;
}
.social-media-icon li.px-2 {
    background: #20a0b1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    transition: all .5s ease-in-out;
}
.social-media-icon ul {
    gap: 10px;
}

.social-media-icon li.px-2 svg path {
    fill: #ffff;
}
.social-media-icon li.px-2:hover {
    transform: translateY(-3px);
}

section.leadership-title .heading-main {
    position: relative;
    z-index: 1;
    padding-bottom: 22px;
}

section.leadership-title .heading-main:before,section.leadership-title .heading-main:after {
    content: "";
    width: 70px;
    height: 2px;
    background: #2c2c2c;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

section.leadership-title .heading-main:after {
    bottom: 10px;
    width: 90px;
}
@media (min-width: 1199px) {
.leader-banner h1, .leader-banner h1 span {
    font-size: 65px;
    font-weight: 600;
}
}
@media (max-width: 1499px) {
    section.leadership-title .row.align-items-center:nth-child(odd) .dot-image {
        right: -62px;
    }
    .dot-image {
        left: -36px;
    }
}
@media (max-width: 1299px) {
    .dot-image {
        left: -24px;
    }
    section.leadership-title .row.align-items-center:nth-child(odd) .dot-image {
        right: -24px;
    }
    
}
@media (max-width: 1199px) {
    section.leadership-title .row.align-items-center:nth-child(odd)  .dot-image {
        right: 0px;
    }
    .dot-image {
        left: 0px;
    }
    .dot-image img {
        max-width: 50px;
        height: 180px;
    }
    .leadership-right  p {
        font-size: 14px !important;
        margin-bottom: 0;
    }
    section.leadership-title .row.align-items-center:nth-child(odd) .leadership-right, .leadership-right {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media (max-width: 1024px) {
    .dot-image img {
        max-width: 42px;
        height: 130px;
    }
}
@media (max-width: 991px) {
    section.testimonial-banner p.banner-p br {
        display: none;
    }
    .leadership-details {
        flex-wrap: wrap;
        row-gap: 0 !important;
    }
    .dot-image img {
        display: none;
    }
}

@media (max-width: 767px) {

    section.leadership-title .row.align-items-center:nth-child(odd) {
        flex-direction: column-reverse !important;
    }
    .leadership-right {
        margin-top: 10px;
    }
}
@media (max-width: 480px) {
    section.leadership-title .row.align-items-center:nth-child(odd) .leadership-right, .leadership-right {
        padding-right: 0;
        padding-left: 0;
    }
}